<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Authorization Failed</title>
    <style>
        .container {
            width: 100%;
            text-align: center;
        }
        .name {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 id="heading" class="">Authorization Failed</h2>
        <div id="errorMessage">
            <p class="name">Error - Access token not found.</p>
        </div>
    </div>
</body>
</html>